<!--Página HOME: página inicial do site, localizada: http://localhost:8083/   -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Bem-vindo </h2>
    <p class="lead"> <h4>Sistema de Controle: Little Trees</h4>Proporcionando aromas únicos e de longa duração. Ideal para carro, residência, armários, escritório ou onde preferir.</p>

      <div class="imginicial">
        <img src="\img\vanilla2.jpg" class="rounded float-right" height="300px" width="300px"/>
      </div>
    
  </div>
</div>

<h2> </h2>